*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*


build/
coverage.ec
/target
target
velocity.log
velocity.log*
src/main/webapp/VAADIN/gwt-unitCache*
*/src/main/webapp/VAADIN/widgetsets*
src/main/webapp/VAADIN/widgetsets/*
.classpath
.project
*/.settings/
.settings
